# Папка виртуального окружения Python
venv/
venv/

# Кэш Python
__pycache__/
*.pyc

# Лог-файлы
*.log

# Данные и результаты обработки
runs_data/

# Файлы операционной системы / редакторов
.DS_Store
*.swp