# Папка виртуального окружения Python
venv/
venv/

# Кэш Python
__pycache__/
*.pyc

# Лог-файлы
*.log

# Данные и результаты обработки
runs_data/
tests/
libs/
bids_data_dicom/
bids_data_nifti/
bids_quality_metrics/
bids_validation/
dciodvfy_reports/
dicom_metadata/
mriqc_output/
preprocessed_data/
transformations/

# Шаблоны для предобработки
mni_templates/

# Файлы операционной системы / редакторов
.DS_Store
*.swp